@inherits LayoutComponentBase

<PageTitle>Hlavní rozvržení</PageTitle>

<div class="page">
    <NavMenu />

    <div class="main">
        <article class="content px-4">
            @Body
        </article>
    </div>
</div>
